version: "3"

services:

  nginx:
    restart: always
    build:
      context: ./
      dockerfile: ./services/nginx/Dockerfile
      args:
        environment: development
    ports:
    - "80:80"
    volumes:
    - static:/var/www/static:ro
    depends_on:
    - cms
    - accounts
    networks:
    - front-tier
    - back-tier

  graphql:
    restart: always
    build:
      context: ./
      dockerfile: ./services/graphql/Dockerfile
      args:
        environment: development
    env_file:
      - ./.env/development.env
    expose:
    - "4000"
    networks:
    - back-tier

  accounts:
    restart: always
    build:
      context: ./
      dockerfile: ./services/accounts/Dockerfile
      args:
        environment: development
    expose:
    - "8000"
    volumes:
    - /home/django/app
    - static:/home/django/app/static
    env_file:
      - ./.env/development.env
      - ./.env/development.secret.env
    depends_on:
    - accounts-postgres
    - redis
    networks:
    - back-tier

  accounts-postgres:
    image: postgres:10
    container_name: accounts-postgres
    volumes:
    - "accounts-postgres:/var/lib/postgresql/data"
    networks:
    - back-tier

  cms:
    restart: always
    build:
      context: ./
      dockerfile: ./services/cms/Dockerfile
      args:
        environment: development
    expose:
    - "8000"
    volumes:
    - /home/django/app
    - static:/home/django/app/static
    env_file:
      - ./.env/development.env
      - ./.env/development.secret.env
    depends_on:
    - cms-postgres
    - redis
    networks:
    - back-tier

  cms-postgres:
    image: postgres:10
    container_name: cms-postgres
    volumes:
    - "cms-postgres:/var/lib/postgresql/data"
    networks:
    - back-tier

  redis:
    restart: always
    image: redis:latest
    ports:
    - "6379"
    volumes:
    - redis:/data
    networks:
    - back-tier

volumes:
  static:
  cms-postgres:
  accounts-postgres:
  redis:

networks:
  front-tier:
  back-tier:
